---
export interface Props {
  title1: string
  title2: string
}

const { title1, title2 } = Astro.props
---

<div class="flex flex-col text-left mb-12 lg:mb-16 animate-fade-in-up w-full pt-8">
  <h1 class="text-4xl md:text-5xl lg:text-5xl font-semibold tracking-tight text-left leading-[1.15]">
    <span class="text-primary/50 block lg:inline">{title1} </span>
    <span class="text-primary block lg:inline">{title2}</span>
  </h1>
</div>
